@{
    ViewBag.Title = "Home Page";
}

<main>
    <table>
        <thead>
            <tr>
                <th>Run ID</th>
                <th>Test Suit</th>
                <th>Status</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Screenshot (If Failed)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>GET http://localhost:4030/api/work-war</td>
                <td>Success</td>
                <td>November 17, 2023 12:00 PM</td>
                <td>November 17, 2023 12:05 PM</td>
                <td>[Image of screenshot]</td>
            </tr>
            <tr>
                <td>2</td>
                <td>GET http://localhost:4030/api//combi</td>
                <td>Success</td>
                <td>November 17, 2023 12:10 PM</td>
                <td>November 17, 2023 12:15 PM</td>
                <td>[Image of screenshot]</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Post http://localhost:4030/api//combi</td>
                <td>Success</td>
                <td>November 17, 2023 12:20 PM</td>
                <td>November 17, 2023 12:25 PM</td>
                <td>[Image of screenshot]</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Post http://localhost: 4030/api/combin</td>
                <td>Success</td>
                <td>November 17, 2023 12:30 PM</td>
                <td>November 17, 2023 12:35 PM</td>
                <td>[Image of screenshot]</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Post http://localhost:4030/api/combin</td>
                <td>Success</td>
                <td>November 17, 2023 12:40 PM</td>
                <td>November 17, 2023 12:45 PM</td>
                <td>[Image of screenshot]</td>
            </tr>
        </tbody>
    </table>
</main>
<style type="text/css">
    <style >
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
    }

    img {
        max-width: 100%;
    }
</style>
