<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" crossorigin="anonymous" />
<style>
    .accordion {
        display: flex;
        flex-direction: column;
    }

    .date {
        background-color: #f1f1f1;
        padding: 10px;
        cursor: pointer;
        border: 1px solid #ddd;
        text-align: left;
    }

    .content {
        display: none;
        padding: 10px;
        border-top: 1px solid #ddd;
    }
</style>

<div class="container-fluid">
    <div class="row p-2" id="TestRun">
        <div class="col-md-4 d-flex flex-column card m-2 shadow-lg p-2">
            @{
                if (ViewBag.TestSuites != null)
                {
                    var testSuiteList = Newtonsoft.Json.JsonConvert.DeserializeObject<List<SeleniumTestReport.DTO_s.Dto_TestSuites>>(ViewBag.TestSuites);
                    foreach (var item in testSuiteList)
                    {
                        <button id="testSuites_@item.TestSuiteName" type="button" class="btn btn-light mb-2 border-secondary card testSuite_Clickable" onclick="GetRunDetails(this.innerText)">@item.TestSuiteName</button>
                    }
                }
            }
        </div>
        <div id="runId" class="col card m-2 shadow-lg p-2">
            <div id="testRunListContainer">

            </div>
        </div>
    </div>
    <div id="TestRunDetails">
        <div id="CaseId" class="m-2 shadow-lg p-2">
            <div id="testcaseChartContainer">

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#TestRun').show();
        $('#TestRunDetails').hide();
    });

    function GetRunDetails(testSuitesName) {
        $.ajax({
            url: '@Url.Action("GetRunDetails", "Home")',
            data: { testSuitName: testSuitesName },
            success: function (result) {
                $('#testRunListContainer').html(result);
                $(".testSuite_Clickable").removeClass("bg-warning");
                var selector = '#testSuites_' + testSuitesName;
                $(selector).addClass("bg-warning");
            }
        });
    };

    function GetTestCaseDetails(testSuitesName, runId) {
        $.ajax({
            url: '@Url.Action("GetTestCaseDetails", "Home")',
            data: { testSuitName: testSuitesName, runId: runId },
            Type: "Post",
            success: function (result) {
                $('#testcaseChartContainer').html(result);
                $(".testRunId_Clickable").removeClass("bg-primary");
                var selector = '#runId_' + testSuitesName + runId;
                $(selector).addClass("bg-primary");
                $('#TestRun').hide();
                $('#TestRunDetails').show();
            }
        });
    };

    function toggleContent(id) {
        var content = document.getElementById(id);
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    };

    function Back() {
        $('#TestRun').show();
        $('#TestRunDetails').hide();
    };

    function showVideoPopup(testcaseName) {
        $('#videoModal-' + testcaseName).modal('show');
    };

    function closeModal(testcaseName) {
        $('#' + testcaseName).modal('hide');
    };
</script>
