<html>
<body>
    
        @{
            List<TestSeleniumReport.DTO_s.Dto_DashboardChartDetail> DashboardChartList = null;

            if (Model != null)
            {
                DashboardChartList = Newtonsoft.Json.JsonConvert.DeserializeObject<List<TestSeleniumReport.DTO_s.Dto_DashboardChartDetail>>(Model);
            }
        }
        @if (DashboardChartList != null)
        {
            <div class="card col-md-10">
                <canvas id="dashBoardChart" width="800" height="400"></canvas>
                <script>
                    var dates = @Json.Serialize(DashboardChartList.Select(item => item.TestRunStartDate.ToString("dd/MM")));
                    var totalTestCases = @Json.Serialize(DashboardChartList.Select(item => item.TotalTestCase));
                    var passedTestCases = @Json.Serialize(DashboardChartList.Select(item => item.TotalPassedTestCase));
                    var failedTestCases = @Json.Serialize(DashboardChartList.Select(item => item.TotalFailedTestCase));

                    var ctx = document.getElementById('dashBoardChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: dates,
                            datasets: [
                                {
                                    label: 'Total Test Cases',
                                    backgroundColor: 'blue',
                                    data: totalTestCases
                                },
                                {
                                    label: 'Passed Test Cases',
                                    backgroundColor: 'green',
                                    data: passedTestCases
                                },
                                {
                                    label: 'Failed Test Cases',
                                    backgroundColor: 'red',
                                    data: failedTestCases
                                }
                            ]
                        },
                        options: {
                            title: {
                                display: true,
                                text: 'Test Cases Execution Trend'
                            },
                            scales: {
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Timeline'
                                    }
                                }],
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Test Cases Count'
                                    }
                                }]
                            }
                        }
                    });
                </script>
            </div>
        }

</body>
</html>
