{
    log {
        output stdout
        format json
    }
}

:30001 {
    log {
        output stdout
        format json
    }
  

    reverse_proxy /api/* dotnetapi
    reverse_proxy /swagger/* dotnetapi
    reverse_proxy /codeengine/* codeengine:8000

    reverse_proxy  webui
}

:80, :443 {
  respond "Caddy Error: Requests should not be routed to tcp:80 nor tcp:443"
}